blockquote:not(.blockquote-reverse, .pull-right) {
    padding: 2em;
    margin: 0 0 2em;
    border-left: 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid $gray-lighter;
    border-bottom: 1px solid $gray-lighter;
    position: relative;

    font-style: italic;

    &:after {
        color: #d8d8d8;
        content: open-quote;
        font-size: 7rem;
        position: absolute;
        left: 50%;
        bottom: calc(100% - 20px);
        background: #fff;
        height: 0.55em;
        width: 0.55em;
        line-height: normal;
        text-align: center;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    footer {
        padding-top: 1em;
    }

    cite {
        display: inline-block;
    }

    p {
        font-size: 1.5rem;
    }


}