.card__container {
	flex-flow: row wrap;
	justify-content: space-around;
}

.card {
	text-align: center;

	flex: 1 0 50%;

	@media screen and (min-width:600px) {
		flex-basis: 33.33%;
	}

	img {
		width: 5em;
	}

	.views-field-field-image {
		width: 7em;
		height: 7em;
		padding: 1em;
		margin-left: auto;
    	margin-right: auto;
		margin-bottom: 1em;
		border-radius: 50%;

	background-color: #fdfdfd;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e2f6e7' fill-opacity='0.99' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	}

	.views-field-title {
		font-family: $font-family-sans-serif;
		font-size: 1.5em;
		padding-bottom: 0.5em;
	}
}


.content:empty {
	display: none;
}