.project-partners__container {
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	@include fluid-type( "padding", $small, $large, 1em, 2em  );
	max-width: 47.25em;
    margin-left: auto;
    margin-right: auto;
}

.project-partner {
	text-align: center;
    height: auto;
	flex: 0 0 auto;
	padding: 1em;
	
	// width: 10em;
	// @media screen and (min-width:410px) {
	// 	width: 14em;
	// }

	img {
		height: 4.5em;
    	width: auto;
	}
}