.views-field-name {
	h2 {
		@media screen and (max-width: 545px) {
			text-align: center
		}
	}
}

.view-all-wie-team-page {
	> .attachment-before,
	> .view-content > .views-row:not(.views-row-last) {
		border-bottom: 1px solid $gray-lighter;
	}
	> .attachment-after {
		border-top: 1px solid $gray-lighter;
	}
}

.team-member__container {
	width: 100%;
	flex-flow: row wrap;
	justify-content: flex-start;
	font-size: 1rem;

	@media screen and (max-width: 545px) {
	 	justify-content: center;
	}
}



.team-member {
	//border: 1px solid red;
	@include fluid-type( "padding", $small, $large, 1em, 2em  );
	display: inline-block;
	min-width: 25%;
	flex: 0 0 50%;



	@media screen and (min-width: 546px) {
	 	flex-basis: 25%;
	}

	text-align: center;
	overflow: hidden;

	img {
		border-radius: 50%;
	}

}

.team-member__full {
	@include fluid-type( "padding", $small, $large, 1em, 2em );
	align-items: flex-start;
}

.team-member__left {
	display: inline-block;
	max-width: 15%;
	flex: 0 0 15%;
	overflow: hidden;
}

.team-member__right {
	@include fluid-type( "padding-left", $small, $large, 1em, 2em );
	max-width: 75%;
	flex: 0 1 75%;


}

.team-member__name {
	padding-top: 1em;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.field-name-field-profile-description {
	margin-top: 1.5em;
}

.field-name-field-project-administration-rol,
.field-name-field-is-team-lead,
.field-name-is-team-lead {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	@include fluid-type( "font-size", $medium, $large, 0.7em, 0.8em );
	text-transform: uppercase;
}

.field-name-fancy-profile-link {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}






