.updates__container {
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 1rem;
	width: 100%
}

.updates {
	//position: relative;
	//flex: 0 0 100%;
	flex: 1 0 auto;
	width: 100%;
	


	background-color: $qicwd-tertiary-lighter;
	border-radius: $border-radius-base;
	padding: $padding--default $padding--default 3em;
	margin-bottom: 1.5em;

	@include breakpoint(sm) {
		flex: 1;
		min-width: 15em;
		margin-left: 0.7em;
		margin-right: 0.7em;
	}
}

.field-name-field-is-blog-news-event,
.field-name-field-year {
	display: inline-block;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 0.7em;
	padding: 0.25em 1em;
	background-color: $navbar-default-border;
	color: tint($text-color, 20%);
	border-radius: $border-radius-base;



	// .updates--event & {
	// 	background-color: $qicwd-tertiary-light;
	// }

	// .updates--blog & {
	// 	background-color: $qicwd-secondary-light;
	// }

	// .updates--news & {
	// 	background-color: $qicwd-primary-light;
	// }

}

.field-name-title {
	font-family: $font-family-sans-serif;
	font-size: 1.2em;
	padding-bottom: 0.4em;

	.view-mode-front_page_teaser & {
		padding-top: 1em;
	}
}

.field-name-post-date {
	font-family: $font-family-sans-serif;
	font-size: 0.7em;
	

    .view-mode-front_page_teaser & {
    	position: absolute;
	    bottom: -2em;

    }

    .view-mode-full & {
    	padding-bottom: 1.5em;
    }

}

.field-name-field-paragraph  {
	.view-mode-full & {
		p:first-child {
			font-size: $lead-font-size;

		}
    }
}

.field-name-service-links-displays-group {
	> .label-inline {
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
	}
}

.fieldset--event_date_location {
	border-radius: $border-radius-base;
	margin-bottom: 2em;
    padding: 1em;
    background-color: $gray-lighter;
}

// .field-name-field-event-date {
// 	padding-bottom: 1.5em;
// }

.fb_iframe_widget {
    top: -6px;
}

.node-blog-news-events {
	&.view-mode-front_page_teaser {
		position: relative;
		height: 100%;
	}

	&.node-teaser {
	    padding-top: 0.75em;
	    border-top: 1px solid $gray-lighter;
	    padding-bottom: 0.75em;
	}
}

