//*****************************
// Headings
//*****************************

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;

  p + &,
  ol + &,
  ul + &,
  dl + & {
    margin-top: #{ms(1)}em;
  }
}


// h1 { font-size: #{ms(6)}em }
// h2 { font-size: #{ms(5)}em }
// h3 { font-size: #{ms(4)}em }
// h4 { font-size: #{ms(3)}em }
// h5 { font-size: #{ms(2)}em }
// h6 { font-size: #{ms(1)}em }