// *****************************
// Page
// Simple page-level setup.
// *****************************


// Fluid type
:root {
  font-size: #{$min_font_size}em;
  overflow-y: scroll;
  min-height: 100%;
  word-wrap: break-word;
}

@media screen and (min-width: #{$min_viewport_width}em) {
  :root {
    font-size: calc(#{$min_font_size}em + (#{$max_font_size} - #{$min_font_size}) * ( (100vw - #{$min_viewport_width}em) / ( #{$max_viewport_width} - #{$min_viewport_width})));
  }
}

@media screen and (min-width: #{$max_viewport_width}em) {
  :root {
    font-size: #{$max_font_size}em;
  }
}



body {
  font-family: $font-family-base;
	font-size: 1rem;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}
