//*****************************
// Element: Links
//*****************************

// Links
$color-link: $brand-primary;

// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}

a {
    main & {
        @include link($brand-primary);
        
    }
}

