//*****************************
// Element: Forms
//*****************************

// Preconfigure these settings before the @import of this file.
$form-font-family: $font-family-base;


form {
    font-size: 1rem;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

legend {
    font-weight: $font-weight-bold;
}

label {
    font-weight: $font-weight-normal;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

::placeholder {
    color: $gray;
    font-style: italic;
}