
// Background color
// Flat colors
.u-bg-gray-5 { background-color: $gray-5 !important; }
.u-bg-gray-10 { background-color: $gray-10 !important; }
.u-bg-gray-20 { background-color: $gray-20 !important; }
.u-bg-gray-60 { background-color: $gray-60 !important; }
.u-bg-gray-70 { background-color: $gray-70 !important; }
.u-bg-gray-80 { background-color: $gray-80 !important; }
.u-bg-gray-90 { background-color: $gray-90 !important; }

.u-bg-secondary-4 { background-color: rgba($brand-secondary, 0.04) !important;}
.u-bg-secondary { background-color: $brand-secondary !important;}

// Gradient
.u-bg-g-primary-dark {
	background: linear-gradient(to right, darken($brand-primary, 20%) 0%, $gray-80 100%);
}

.u-bg-g-secondary-dark {
	background: linear-gradient(to right, $brand-secondary 0%, mix($gray-70,$brand-secondary, 50%) 100%);
}

// Color
.u-color-white { color: $white !important;}
.u-color-text { color: $text-color !important;}