// *************************
// Utilities: Display
// General helper classes for controlling display
// *************************
/* ======================
   #DISPLAY
   General helper classes for controlling display
   ====================== */


 /* These are the basic classes you might need to apply to typical HTML content.
 * If you find yourself needing something like `table`, `table-cell`, `flex`,
 * etc., then you probably need a more complex object and shouldn't be using
 * utility classes in the first place.
 */

.u-display-block        { display: block !important; }
.u-display-inline       { display: inline !important; }
.u-display-inline-block { display: inline-block !important; }
.u-display-flex         { display: flex !important; }
.u-display-inline-flex  { display: inline-flex !important; }
.u-display-table       	{ display: table !important; }
.u-display-tablecell 	{ display: table-cell !important; }
