/* ======================
   #BOX ALIGNMENT
   ====================== */


// // !Align Items
// .dcf-u-ai-flexstart { @include ai-flexstart(!important); }
// .dcf-u-ai-flexend { @include ai-flexend(!important); }
// .dcf-u-ai-center { @include ai-center(!important); }
// .dcf-u-ai-baseline { @include ai-baseline(!important); }
// .dcf-u-ai-stretch { @include ai-stretch(!important); }
// .dcf-u-ai-start { @include ai-start(!important); }
// .dcf-u-ai-end { @include ai-end(!important); }


// // !Align Content
// .dcf-u-ac-flexstart { @include ac-flexstart(!important); }
// .dcf-u-ac-flexend { @include ac-flexend(!important); }
// .dcf-u-ac-center { @include ac-center(!important); }
// .dcf-u-ac-stretch { @include ac-stretch(!important); }
// .dcf-u-ac-around { @include ac-around(!important); }
// .dcf-u-ac-between { @include ac-between(!important); }
// .dcf-u-ac-evenly { @include ac-evenly(!important); }
// .dcf-u-ac-start { @include ac-start(!important); }
// .dcf-u-ac-end { @include ac-end(!important); }


// // !Align Self
// .dcf-u-as-auto { @include as-auto(!important); }
// .dcf-u-as-flexstart { @include as-flexstart(!important); }
// .dcf-u-as-flexend { @include as-flexend(!important); }
// .dcf-u-as-center { @include as-center(!important); }
// .dcf-u-as-baseline { @include as-baseline(!important); }
// .dcf-u-as-stretch { @include as-stretch(!important); }
// .dcf-u-as-start { @include as-start(!important); }
// .dcf-u-as-end { @include as-end(!important); }


// // !Justify Items
// .dcf-u-ji-start { @include ji-start(!important); }
// .dcf-u-ji-end { @include ji-end(!important); }
// .dcf-u-ji-center { @include ji-center(!important); }
// .dcf-u-ji-stretch { @include ji-stretch(!important); }


// !Justify Content
.u-jc-flexstart { justify-content: flex-start !important; }
.u-jc-flexend { justify-content: flex-end !important; }
.u-jc-center { justify-content: center !important; }
.u-jc-around { justify-content: space-around !important; }
.u-jc-between { justify-content: space-between !important; }
.u-jc-evenly { justify-content: space-evenly !important; }
.u-jc-start { justify-content: start !important; }
.u-jc-end { justify-content: end !important; }
.u-jc-stretch { justify-content: stretch !important; }


// // !Justify Self
// .dcf-u-js-start { @include js-start(!important); }
// .dcf-u-js-center { @include js-center(!important); }
// .dcf-u-js-end { @include js-end(!important); }
// .dcf-u-js-stretch { @include js-stretch(!important); }
