/* ======================
   #TYPOGRAPHY
   ====================== */

// TFont families classes
.font-base {font-family: $nds-font-family-base;}
// .font-alt {font-family: $nds-font-family-alt;}


// !Display Headings
// .u-display-1 { @include display1(!important); }
// .u-display-2 { @include display2(!important); }
// .u-display-3 { @include display3(!important); }
// .u-display-4 { @include display4(!important); }


/**
 * Text decoration
 *
 * Cause long spans of text to truncate after running out of horizontal space.
 */

.u-txt-decor-none { text-decoration: none!important; }

// .u-txt-decor-hover { @include txt-decor-hover-off(!important); }

// .u-txt-decor-hover:hover { @include txt-decor-hover-on(!important); }


// !Font Weights
.u-regular { font-weight: $font-weight-normal !important; }
.u-bold { font-weight: $font-weight-bold !important; }

.u-text--small {
	font-size: 0.8em;
}


/**
 * Truncation.
 *
 * Cause long spans of text to truncate after running out of horizontal space.
 */
.u-text-truncate { @include truncate(100%, important); }