/* ======================
   #BORDERS
    Docs: https://tailwindcss.com/docs/shadows
   ====================== */

// outer shadow
.shadow {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.shadow--md {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);;
}

.shadow--lg {
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),0 5px 15px 0 rgba(0,0,0,0.08);;
}

// inner shadow
.shadow--inner {
	box-shadow:inset 0 2px 4px 0 rgba(0,0,0,0.06);
}

// no shadow
.shadow--inner {
	box-shadow: none;
}