/* ======================
   #SPACING
    https://github.com/inuitcss/inuitcss/blob/develop/utilities/_utilities.spacings.scss
   ====================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-margin-top {}
 *   .u-padding-left-large {}
 *   .u-margin-right-small {}
 *   .u-padding {}
 *   .u-padding-right-none {}
 *   .u-padding-horizontal {}
 *   .u-padding-vertical-small {}
 */

$spacing-directions: (
  null: null,
  "t": "-top",
  "r": "-right",
  "b": "-bottom",
  "l": "-left",
  "h": "-left" "-right",
  "v": "-top" "-bottom"
) !default;

$spacing-properties: (
  "p": "padding",
  "m": "margin"
) !default;

$spacing-sizes: (
  "-0": 0,
  "-1": $global-spacing-1,
  "-2": $global-spacing-2,
  "-3": $global-spacing-3,
  "-4": $global-spacing-4,
  "-5": $global-spacing-5,
  "-6": $global-spacing-6
) !default;

@each $property-namespace, $property in $spacing-properties {

  @each $direction-namespace, $direction-rules in $spacing-directions {

    @each $size-namespace, $size in $spacing-sizes {

      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }

      }

    }

  }

}