/* ======================
   #FLEXBOX
   ====================== */


// Flexbox display rules (.d-flex and .d-inline-flex) located in _utilities.display


// !Flexbox Rows and Columns
.u-flex-col { flex-direction: column !important; }
.u-flex-colrev { flex-direction: column-reverse !important; }
.u-flex-row { flex-direction: row !important; }
.u-flex-rowrev { flex-direction: row-reverse !important; }


// !Flexbox Wrap
.u-flex-wrap { flex-wrap: wrap !important; }
.u-flex-wraprev { flex-wrap: wrap-reverse !important; }
.u-flex-nowrap { flex-wrap: nowrap !important; }

// !Flex
.u-flex-thirds {
	@include mq($from: phablet) {
		flex: 0 1 31.5%;
	}
}