/* ======================
   #BORDERS
    Docs: http://tachyons.io/docs/themes/borders/
   ====================== */

// Border
//     Base:
//       b = border

//     Modifiers:
//       a = all
//       t = top
//       r = right
//       b = bottom
//       l = left
//       n = none

.u-ba { border-style: solid; border-width: 1px; }
.u-bt { border-top-style: solid; border-top-width: 1px; }
.u-br { border-right-style: solid; border-right-width: 1px; }
.u-bb { border-bottom-style: solid; border-bottom-width: 1px; }
.u-bl { border-left-style: solid; border-left-width: 1px; }
.u-bn { border-style: none; border-width: 0; }


// Border styles
.u-b--dotted { border-style: dotted; }
.u-b--dashed { border-style: dashed; }
.u-b--solid {  border-style: solid; }
.u-b--none {   border-style: none; }

// Border width
.u-bw--0 { border-width: 0; }
.u-bw--1 { border-width: .125rem; }
.u-bw--2 { border-width: .25rem; }
.u-bw--3 { border-width: .5rem; }
.u-bw--4 { border-width: 1rem; }
.u-bw--5 { border-width: 2rem; }

/* Resets */
.u-bt--0 { border-top-width: 0; }
.u-br--0 { border-right-width: 0; }
.u-bb--0 { border-bottom-width: 0; }
.u-bl--0 { border-left-width: 0; }


// Border colors
.u-b--white { border-color: $white; }
.u-b--white-transparent { border-color: rgba(255,255,255,0.3); }
.u-b--gray-5 { border-color: $gray-5; }
.u-b--gray-10 { border-color: $gray-10; }
.u-b--gray-20 { border-color: $gray-20; }
.u-b--gray-30 { border-color: $gray-30; }
.u-b--gray-40 { border-color: $gray-40; }
.u-b--gray-50 { border-color: $gray-50; }
.u-b--gray-60 { border-color: $gray-60; }
.u-b--gray-70 { border-color: $gray-70; }
.u-b--gray-80 { border-color: $gray-80; }
.u-b--gray-90 { border-color: $gray-90; }
.u-b--black { border-color: $black; }


// Border radius
.u-br-none { border-radius: 0 !important; }
.u-br-square { border-radius: $radius-square !important; }
.u-br-roundrect { border-radius: $radius-roundrect !important; }
.u-br-circle { border-radius: $radius-circle !important; }
.u-br-pill { border-radius: $radius-pill !important; }