// *****************************
// Card
// The card object is similar to the card object but it is stacked. It has a header, body and footer
// *****************************

.o-card {
  @include clearfix();
  display: block;
  margin-bottom: $global-spacing-4;
}


  .o-card__img {
    float: left;
    margin-right: $global-spacing-4;

    > img {
      display: block;
    }

  }


  .o-card__body {
    overflow: hidden;
    display: block;

    &,
    > :last-child {
      margin-bottom: 0;
    }

  }


// Size variants.
// *****************************
// Modify the amount of space between our image and our text. We also have reversible options for all available sizes.


// Gutterless card objects.
.o-card--0 {

  > .o-card__img {
    margin-right: 0;
    margin-left: 0;
 }

}


.o-card--1 {

  > .o-card__img {
    margin-right: $global-spacing-1;
  }

  &.o-card--reverse {

    > .o-card__img {
      margin-right: 0;
      margin-left: $global-spacing-1;
    }

  }

}


.o-card--2 {

  > .o-card__img {
    margin-right: $global-spacing-2;
  }

  &.o-card--reverse {

    > .o-card__img {
      margin-right: 0;
      margin-left: $global-spacing-2;
    }

  }

}


.o-card--3 {

  > .o-card__img {
    margin-right: $global-spacing-3;
  }

  &.o-card--reverse {

    > .o-card__img {
      margin-right: 0;
      margin-left: $global-spacing-3;
    }

  }

}


.o-card--5 {

  > .o-card__img {
    margin-right: $global-spacing-5;
  }

  &.o-card--reverse {

    > .o-card__img {
      margin-right: 0;
      margin-left: $global-spacing-5;
    }

  }

}

.o-card--6 {

  > .o-card__img {
    margin-right: $global-spacing-6;
  }

  &.o-card--reverse {

    > .o-card__img {
      margin-right: 0;
      margin-left: $global-spacing-6;
    }

  }

}



// Reversed card objects.
.o-card--reverse {

  > .o-card__img {
    float: right;
    margin-right: 0;
    margin-left: $global-spacing-4;
  }

}