// *****************************
// Box
// The box object simply boxes off content. Extend with cosmetic styles in the Components layer.
// *****************************

// 1. So we can apply the `.o-box` class to naturally-inline elements.
.o-box {
  @include clearfix();
  display: block; /* [1] */
  padding: $global-spacing-4;

  > :last-child {
    margin-bottom: 0;
  }

}

// Size variants.
.o-box--flush {
  padding: 0;
}

.o-box--tiny {
  padding: $global-spacing-4;
}

.o-box--small {
  padding: $global-spacing-4;
}

.o-box--large {
  padding: $global-spacing-4;
}

.o-box--huge {
  padding: $global-spacing-4;
}