//*****************************
// Island
// Centered container
//*****************************

.o-island {
	font-size: 1rem;
	padding: 1em 4em;
	max-width: 48em;
	margin-right: auto;
	margin-left: auto;
}