/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/* Simple flexbox layout system */

.o-layout {
  display: block;

  @include mq($from: phablet) {
    display: flex;
    flex-flow: row wrap;
  }
}

.o-layout__item {
  display: block;
  margin-bottom: $global-spacing-4;

  &:nth-child(odd) {
    @include mq($from: phablet) {
      padding-right: $global-spacing-2;
    }
  }

  &:nth-child(even) {
    @include mq($from: phablet) {
      padding-left: $global-spacing-2;
    }
  }
}

.o-layout--guttered {
  justify-content: space-between;

  > .o-layout__item {
    flex: none;
  }
}

.o-layout--2 {
  > .o-layout__item {
     @include mq($from: phablet) {
      width: 49%;
    }
  }
}

.o-layout--3 {
  > .o-layout__item {
     @include mq($from: phablet) {
      width: 32%;
    }
  }
}

.o-layout--4 {
  > .o-layout__item {
     @include mq($from: phablet) {
      width: 24%;
    }
  }
}