/* ===================
   #FLAG
   Add more specific styling like avatar in components or use utility classes
   =================== */

/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

// Predefine the variables below in order to alter and enable specific features.
$media-collapse-at: phablet !default;

/**
 * 1. Allows us to control vertical alignments.
 * 2. Default to aligning content to their middles.
 * 3. Force the object to be the full width of its parent. Combined with [1],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */

.o-media {
    display: flex; /* [1] */
    flex-flow: row wrap;
    align-items: flex-start; /* [2] */
    width: 100%; /* [3] */

    @include mq($until: $media-collapse-at) {
        flex-direction: column;
        align-items: flex-start;
    }
}



/**
   * Items within a media object. There should only ever be one of each.
   */

.o-media__body {

    flex: 1;

}



/**
   * Flag images have a space between them and the body of the object.
   */

.o-media__img {
    // max-width: 25%;
    margin-right: $global-spacing-default;

    @include mq($until: $media-collapse-at) {
        margin-right: 0;
        margin-left:  0;
        padding-bottom: $global-spacing-default;
    }


    img {
        width: 100%;
    }
}



/**
   * The container for the main content of the media object.
   *
   * 1. Forces the `.media__body` to take up all remaining space.
   */

.o-media__body {
    width: 100%; /* [1] */

    > * {
        margin-top: 0;
        margin-bottom: #{ms(-9)}em;
    }

    &,
    > :last-child {
        margin-bottom: 0;
    }
}






/* Size variants
   ========================================================================== */

.o-media--flush {

    >.o-media__img {
        margin-right: 0;
        margin-left: 0;

        @include mq($until: $media-collapse-at) {
            margin-right: 0;
            margin-left:  0;
        }
    }
}


.o-media--tiny {
    > .o-media__img {
        margin-right: $global-spacing-tiny;

        @include mq($until: $media-collapse-at) {
            margin-right: 0;
            margin-left:  0;
        }
    }

    &.o-media--reverse {
        > .o-media__img {
            margin-right: 0;
            margin-left: $global-spacing-tiny;
        }
  }
}


.o-media--small {
    > .o-media__img {
        margin-right: $global-spacing-small;

        @include mq($until: $media-collapse-at) {
            margin-right: 0;
            margin-left:  0;
        }
    }

    &.o-media--reverse {
        > .o-media__img {
            margin-right: 0;
            margin-left: $global-spacing-small;

            @include mq($until: $media-collapse-at) {
                margin-right: 0;
                margin-left:  0;
            }
        }
    }
}


.o-media--large {
    > .o-media__img {
        margin-right: $global-spacing-large;

        @include mq($until: $media-collapse-at) {
            margin-right: 0;
            margin-left:  0;
        }
    }

    &.o-media--reverse {
        > .o-media__img {
            margin-right: 0;
            margin-left: $global-spacing-large;

            @include mq($until: $media-collapse-at) {
            margin-right: 0;
            margin-left:  0;
        }
        }
    }
}


.o-media--huge {
    > .o-media__img {
        margin-right: $global-spacing-huge;

        @include mq($until: $media-collapse-at) {
            margin-right: 0;
            margin-left:  0;
        }
    }

    &.o-media--reverse {
        > .o-media__img {
            margin-right: 0;
            margin-left: $global-spacing-huge;

            @include mq($until: $media-collapse-at) {
                margin-right: 0;
                margin-left:  0;
            }
        }
    }
}

/* Reversed media
   ========================================================================== */


/**
 * 1. Swap the rendered direction of the object…
 * 2. …and reset it.
 * 3. Reassign margins to the correct sides.
 */

.o-media--reverse {
    direction: rtl;/* [1] */

    >.o-media__img,
    >.o-media__body {
        direction: ltr;/* [2] */
    }

    >.o-media__img {
        margin-right: 0;/* [3] */
        margin-left: $global-spacing-default;/* [3] */
    }
}






/* Alignment variants
   ========================================================================== */


/**
 * Vertically align the image- and body-content differently. Defaults to middle.
 */

.o-media--center {
        align-items: center;

    >.o-media__img,
    >.o-media__body {
    }
}


.o-media--bottom {
        align-items: flex-end;

    >.o-media__img,
    >.o-media__body {
    }
}