// *****************************
// Wrapper
// Page-level constraining and wrapping elements.
// *****************************

$wrapper-width: 81.25rem !default;

@mixin wrapper {
  // max-width: $wrapper-width;
  // margin-right: auto;
  // margin-left:  auto;
  // padding-left: $global-spacing-3;
  // padding-right: $global-spacing-3;

  padding-left: 5%;
  padding-right: 5%;
}

.o-wrapper {
  @include wrapper;
}





// Size variants.

.o-wrapper--text {
  max-width: 41rem;
  margin-left: auto;
  margin-right: auto;
}

.o-wrapper--1 {
  padding-right: $global-spacing-1;
  padding-left:  $global-spacing-1;
}

.o-wrapper--2 {
  padding-right: $global-spacing-2;
  padding-left:  $global-spacing-2;
}

.o-wrapper--3 {
  padding-right: $global-spacing-3;
  padding-left:  $global-spacing-3;
}

.o-wrapper--5 {
  padding-right: $global-spacing-5;
  padding-left:  $global-spacing-5;
}

.o-wrapper--6 {
  padding-right: $global-spacing-6;
  padding-left:  $global-spacing-6;
}