// *****************************
// Tile
// Center content in container
// *****************************


.o-tile {
  display: flex; // to use with order

  padding: $global-spacing-4;

  > :last-child {
    margin-bottom: 0;
  }

  > * {
    display: block;
  }

}

// Size variants.
.o-tile--flush {
  padding: 0;
}

.o-tile--tiny {
  padding: $global-spacing-4;
}

.o-tile--small {
  padding: $global-spacing-4;
}

.o-tile--large {
  padding: $global-spacing-4;
}

.o-tile--huge {
  padding: $global-spacing-4;
}