// *****************************
// Objects: List
// *****************************

// Inline list object
// The list-inline object simply displays a list of items 

.list-inline {
  > li {

    &:not(:last-child) {
  	  margin-right: 1rem;
  	}
  }
}


// UI-list
// The UI-list object takes the indents and bullets off of a list, gives the list items some padding, and places a small border between each list item.
.o-list-bordered {
    margin:  0;
    padding: 0;
    list-style: none;
}

.o-list-bordered__item {
    padding: 1em;
    border-top: 1px solid $gray-20;

    &:first-child {
        border-top: none;
    }
}

.o-list-bordered--reverse {
  > .o-list-bordered__item {
    padding: 1em;
    border-top: 1px solid $gray-20;

    &:last-child {
        border-bottom: 1px solid $gray-20;
    }
  }
}


