//*****************************
// Element: Font
//*****************************

.fonts-loaded {
  body {
    font-family: $nds-font-family-base;
  }

  strong {
    font-family: $nds-font-family-base;
    font-weight: 700;
  }
  em {
    font-family: $nds-font-family-base;
    font-style: italic;
  }
  strong em,
  em strong {
    font-family: $nds-font-family-base;
    font-weight: 700;
    font-style: italic;
  }
}
