// ======================
//   #BREAKPOINTS
//   https://github.com/sass-mq/sass-mq
//   ======================

$mq-breakpoints: (
    mobile:  320px,
    phablet: 575px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

@import '../../../node_modules/sass-mq/mq';


$mq-media-type: screen;