//*****************************
// Variables: Borders
//*****************************


// Border radius
$radius-square:		0 !default;
$radius-roundrect:	.25rem !default;
$radius-circle: 	50% !default;
$radius-pill:		2rem !default;




