//*****************************
// Variables: Sizing
//*****************************

// Use em for root and media queries
// Derived from Inclusive Design

// Modular Scale
@import '../../../node_modules/modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 1 1.2,
  ratio: $fourth,
);

$min_font_size: ms(0);
$max_font_size: ms(1);

$min_viewport_width: 37.5;
$max_viewport_width: 120; // 1920px
