//*************************
// Variables: Z-index
// https://www.sitepoint.com/using-sass-maps/
//*************************

$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);
