//*****************************
// Variables: Typography
// Default typography variables
// Global variables that need to 
// be accessed from anywhere
//*****************************

// Typeface
$nds-font-family-base: 'Libre Franklin', sans-serif !default;
// $nds-font-family-alt: 'Libre Franklin', sans-serif !default;

// Font-weight
$font-weight-normal:	400 !default;
$font-weight-bold:		700 !default;






