// Spacing

$global-spacing-0: 0;
$global-spacing-1: #{ms(-9)}rem; // 0.633em
$global-spacing-2: #{ms(-3)}rem; // 0.633em
$global-spacing-3: #{ms(0)}rem; // 1em
$global-spacing-4: #{ms(3)}rem; // 1.5em
$global-spacing-5: #{ms(6)}rem; // 2.369em
$global-spacing-6: #{ms(9)}rem; // 3.552em

// Assignng to purpose
$global-spacing-tiny: $global-spacing-1;
$global-spacing-small: $global-spacing-3;
$global-spacing-default: $global-spacing-4;
$global-spacing-large: $global-spacing-5;
$global-spacing-huge: $global-spacing-6;