// //*****************************
// // Components: Menu
// //*****************************
//https://github.com/iagodahlem/iagodahlem.github.io/blob/master/_sass/components/_menu.scss
// .menu {
//   position: fixed;
//   z-index: $menu-z-index;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   pointer-events: none;
//   @include tablet {
//     display: none;
//   }
//   @include desktop {
//     display: none;
//   }
// }
// .menu.menu--visible {
//   pointer-events: auto;
// }
.menu {
    position: relative;
    display: inline-block;
    padding: 1em;
    font-size: 1rem;
}

.menu__button {
    background-color: blue;
    border: none;
    cursor: pointer;
}

.menu__content {
	font-size: #{ms(-2)}em;
    position: absolute;
    right: 0;
    background-color: #eee;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: 0;
    list-style: none;

    &[hidden] {
        display: none;
    }

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .is-open {
        display: block;
    }
}