// //*****************************
// // Components: Share buttons
// //*****************************

// Social media colors
$color-social: (
    "twitter": #1da1f2,
  "facebook": #3b5998,
  "linkedin": #007bb6,
  "youtube": #cd201f,
  "instagram": #c13584,
  "vimeo": #aad450
);

// .social {
//   display: flex;
//   align-items: center;
//   padding: $gutter;

//   > *:not(:last-child) {
//     margin-right: 1em;
//   }
// }

@each $socialnetwork, $color in $color-social {
  .share--#{$socialnetwork} {
    background-color: $color;

    &:focus,
    &:hover {
      background-color: darken($color,5%);
    }

    &:before {
      background-image: url('/images/#{$socialnetwork}.png');
    }
  }
}