//*****************************
// Links
//*****************************

// Move skip to main content link off screen
// Heydon Pickering
// https://github.com/stubbornella/oocss-accessibility-guidelines#css-helpers
[href="#main"] {
    position: absolute;
    top: 0;
    right: 100%;
	
	&:focus {
	    right: auto;
	}

}

a {
	main & {
	    @include link($brand-primary);
		
	}
}


.link--inverse {
    @include link($white);
}

