/* ======================
   #HEADER
   ====================== */
.c-header {
	font-size: 1rem;
	border-top: 6px solid $gray-20;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;

	@include mq($from:tablet) {
		align-items: flex-end;
		flex-flow: row nowrap;
		@include wrapper;
	}

	@include mq($until:desktop) {
		// padding-right: $global-spacing-3;
		position: relative;
	}

	a {
		@include link($brand-primary-dark, none);
		font-weight: $font-weight-bold;

		&.active {
			background: $brand-primary-light;
			border-bottom: 3px solid darken($brand-primary-light, 10%);
		}

	}

	// Logo
&__logo {
	display: inline-block;
	width: 60%;
	height: 100%;
	order: 1;
	flex: 0 0 auto;

	@include mq($until:tablet) {
		padding-left: $global-spacing-3;
	}

	@include mq($from:tablet) {
		flex: 0 1 auto;
	}

	a {
		@include link(transparent, none);
		display: inline-block;
	}

	img {
		width: 100%;
	}

}

// Primary
&__primary {
	display: inline-block;
	order: 3;
	width: 100%;

	font-size:#{ms(-2)}em;
	border-top: 1px solid $gray-20;
	background-color: $gray-5;
	flex: 1 0 auto;

	@include mq($until:tablet) {
		border-bottom: 1px solid $gray-20;
	}

	@include mq($from:tablet) {
		font-size:#{ms(-2)}em;
		width: auto;
		margin-bottom: $global-spacing-1;
		margin-left: $global-spacing-1;
		background-color: $white;
		border: 0;
		order: 3;
		flex: 0 1 auto;
	}

	@include mq($from:desktop) {
		font-size:#{ms(-1)}em;
	}

}

&__site-nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	text-transform: Capitalize;
	margin-top: $global-spacing-2;
	margin-bottom: $global-spacing-2;

	@include mq($until:tablet) {
		padding-left: $global-spacing-2;
		padding-right: $global-spacing-2;
	}

	>li {
		padding-left: 0;
		padding-right: 0;


		&:not(:last-child) {
			margin-right: 0;
		}

	}

	a {
		display: inline-block;
		padding: $global-spacing-1 $global-spacing-2;
		border-radius: $radius-pill;
	}

}

// Secondary
&__secondary {
	order: 2;
	flex: 1 0 auto;
	display: inline-block;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;



	@include mq($from:tablet) {
		order: 3;
		flex: 0 1 auto;
	}

	@include mq($from:desktop) {
		flex-flow: column wrap;
	}

}

&__user-menu {
	// position: relative;
	display: inline-block;

	@include mq($until:desktop) {
		display: flex;
    justify-content: flex-end;
	}

	>ul {
		font-size: #{ms(-2)}em;
	}

	@include mq($from:desktop) {
		> button {
			display: none;
		}

		> ul {
			display: flex;
			justify-content: flex-end;
		}

	}

	@include mq($until:desktop) {
		> ul {
			position: absolute;
			top: 100%;
			right: 0;
			z-index: 8;
			display: none;
			float: left;
			min-width: 14em;
			width: 100vw;
			padding: 1em 0;
			margin: 0;
			list-style: none;
			text-align: left;
			background-color: $brand-primary-dark;
			// border: 1px solid #ccc;
			// border: 1px solid rgba(0, 0, 0, .15);
			border-radius: 0;
			-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			background-clip: padding-box;

			li {
				display: block;
				//padding: 3px 20px;
				padding: 0;

				&:not(:last-child) {
					margin-right: 0;
					border-bottom: 1px solid rgba($brand-primary, 0.5);
				}

				a {
					@include link ($white, none);
					padding: $global-spacing-3 $global-spacing-4;
					display: block;
				}
			}

		}

	}

}

&__search-container {
	// position: relative;

	@include mq($from:desktop) {
		display: inline-block;

		> button {
			display: none;
		}

	}

}

&__search-form-container {
	@include mq($until:desktop) {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 8;
		display: none;
		float: left;
		min-width: 18em;
    width: 100vw;
		height: 0;
		padding: $global-spacing-4;
		margin: 0;
		list-style: none;
		text-align: left;
		background-color: $brand-primary-dark;
		// border: 1px solid #ccc;
		// border: 1px solid rgba(0, 0, 0, .15);
		border-radius: 0;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		background-clip: padding-box;


	}

	&.collapse.in {
		height: 3.1em;
		display: flex;
    align-items: center;
	}

	@include mq($from:desktop) {
		display: flex;
		justify-content: flex-end;
	}

}

&__search-form {
	margin-bottom: 0;
	width: 100%;

	@include mq($from:desktop) {
		font-size: #{ms(-1)}em;
	}

	.form-wrapper {
		display: flex;
    width: 100%;
	}

	.form-group {
		-webkit-box-flex: 1;
    flex-grow: 1;
    width: 1%;
	}

	.form-control {
		width: 100%;
	}

}

}


