.c-hero {
	font-size: 1rem;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	position: relative;
	overflow: hidden;
	// max-width: 100%;

	@include mq($from:phablet) {
		background-color: darken($brand-primary, 20%);
		font-size: 1.1rem;
	}

	@include mq($from:tablet) {
		height: 31vh;
		min-height: 22.24em;
		max-height: 31em;
	}

	// height: 56vh;
	//    min-height: 25.24em;
	//    max-height: 33.645em;
	//    display: flex;
	//    flex-flow: row wrap;
	//    justify-content: center;
	//    position: relative;
	//    overflow: hidden;
	//    max-width: 100%;

	// hero image
	&__background {
		order: 1;
		width: 100%;

		@include mq($until:phablet) {
			height: 24vh;
			min-height: 13.24em;
			max-height: 33.645em;
		}

	}

	// hero content
	&__foreground {
		order: 2;
		width: 100%;
		padding-top: $global-spacing-5;
		// padding-bottom: $global-spacing-6;
		// color: $white;

		@include mq($until:phablet) {
				// background-color: darken($brand-primary, 20%);
				text-align: center;
		}

		@include mq($from:phablet) {
			text-shadow: 1px 1px 16px rgba(0, 0, 0, .6);
			// position: absolute;
			z-index: 1;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			// // height: 100%;
			// max-width: 100%;
			padding-bottom: $global-spacing-6;
			color: $white;
			text-align: center;
			position: absolute;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			bottom: 0;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			background-image: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8));
			max-width: none;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
		}

		@include mq($from:tablet) {
			// max-width: 38em;
		}

		// @include mq($from:desktop) {
			// 	max-width: 54%;
			//
			//
		// }

	}

	&__image {
		height: 100%;
		// opacity: .8;

		@include mq($from:phablet) {
			// opacity: .5;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: linear-gradient(270deg, transparent 0, rgba(0, 51, 106, 0.6) 79%)
			}

		}

		img {
			display: block;
			width: 100%;
			object-fit: cover;
			height: 100%;

			@include mq($from:phablet) {
				opacity: 0.3;
			}

		}

	}

}
