.c-banner {
	font-size: 1rem;

	display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    // max-width: 100%;

    // height: 56vh;
    // min-height: 25.24em;
    // max-height: 33.645em;

	@include mq($from: tablet) {
	    height: 56vh;
	    min-height: 25.24em;
	    max-height: 33.645em;
	}

	// height: 56vh;
 //    min-height: 25.24em;
 //    max-height: 33.645em;
 //    display: flex;
 //    flex-flow: row wrap;
 //    justify-content: center;
 //    position: relative;
 //    overflow: hidden;
 //    max-width: 100%;
}

.c-banner__background {
	order: 1;

	width: 100%;
}

.c-banner__foreground {
	order: 2;

	width: 100%;
	padding-top: $global-spacing-4;
    padding-bottom: $global-spacing-4;
    color: $white;

    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    @include mq($until: tablet) {
    	background-color: $gray-80;
    }

	@include mq($from: tablet) {
		text-shadow: 1px 1px 16px rgba(0,0,0,.5);

	    position: absolute;
	    z-index: 1;
	    top: 0;
	    height: 100%;
	    width: 100%;

	    // display: flex;
	    // flex-flow: column nowrap;
	    // align-items: flex-start;
	    // justify-content: center;
	}
}

.c-banner__image {
	height: 100%;


	@include mq($from: tablet) {
		opacity: .8;

		&:before {
			content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100%;
		    background: rgba(0,0,0,0.7);
		}
	}

	img {
		display: block;
	    width: 100%;
	    object-fit: cover;
	    height: 100%;
	}
}