.teaser__content {
	a {
		position: relative;
		display: block;
		width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
		border: 1px solid $gray-20;

		img {
			position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    height: 100%;
	    width: auto;
		}

		&:hover,
		&:focus {
			border: 1px solid $brand-primary;
    	transition: border 0.3s ease-in-out;
		}
	}
}