.pane-service-links {

	padding-top: $global-spacing-5;
	padding-bottom: $global-spacing-4;
	border-top: 1px solid $gray-20;

	ul {

		list-style: none;

		display: flex;
		align-items: center;

		li {
			display: inline-block;
			margin-left: $global-spacing-2;

			> [type=button] {
			    -webkit-appearance: none;
			}
		}
	}

}