.faq-qa-description {
	display: none;
}


// Other unanswered questions block
.block--other-unanswered-questions {
	border-top: 1px solid $gray-20;
  padding-top: $global-spacing-4;
  padding-bottom: $global-spacing-4;
}

// FAQ node page
.faq-detailed-question {
	font-weight: $font-weight-bold;
}


// /faq-page
.faq-content {
	padding-bottom: $global-spacing-6;

	.faq-detailed-question {
		margin-top: $global-spacing-2;
	}

	.faq-answer {
		border-left: 5px solid $gray-20;
    margin-left: $global-spacing-4;
    padding-left: $global-spacing-2;
	}
}

.faq-question-answer:not(:last-child) {
	border-bottom: 1px solid $gray-20;
  padding-bottom: $global-spacing-1;
}