// //*****************************
// // Components: Icons
// //*****************************
// //
// // .selector {
// //   background-image: sassvg('filename');
// // }
// //////////////////////

// // import gulp-sassvg mixin and function file
// @import "./node_modules/gulp-sassvg/_sassvg.scss;

// .icon {
//   display: inline-block;
//   width: #{ms(-2)}em;
//   height: #{ms(-2)}em;

//   	@include mq($from: desktop) {
// 		width: 1em;
//  	 	height: 1em;
// 	}

//   > path {
//   	fill: #333;
//   }
// }

.c-icon {

	fill: $text-color;

	a &,
	button & {
		fill: currentcolor;
	}
}

.c-icon--inline {
  height: #{ms(0)}em;
  width: #{ms(0)}em;
}

.c-icon--small{
  height: #{ms(-2)}em;
  width: #{ms(-2)}em;
}

.c-icon--big{
  height: #{ms(1)}em;
  width: #{ms(1)}em;
}

.c-icon--x {
  position: relative;
  top: #{ms(-14)}em;
}

.c-icon--hang {
  position: absolute;
  top: 0.2373em;
  left: 0;
}


