/* ======================
   #FOOTER
   ====================== */

 .footer {
    font-size: #{ms(-1)}rem;
 }

//
// Social
// ===========================================

.footer__social {
  .social {
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    background-color: $gray-20;
  }
}


.footer__top {
  a { @include link($gray-70, none);}
}

.footer__top,
.footer__left {
  display: flex;
  flex-flow: column wrap;

  @include mq($from: tablet ) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.footer__column {
  display: inline-block;
  @include mq($from: tablet ) {
    min-width: 20%;
  }
}

.footer__bottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .c-icon {
    width: 9em;
  }
}