.related-terms {
	font-size: 1rem;

	ul {
		list-style: none;

		display: flex;
		flex-flow: row wrap;

		> li {
			flex: 1 1 auto;
			margin-left: 0;
			margin-bottom: $global-spacing-2;
			display: inline-block;

			a {
				display: block;
				padding: $global-spacing-2 $global-spacing-3;
				@include button(rgba(255, 255, 255, 0.2), $white);
				text-decoration: none;
				border-radius: $radius-pill;
				margin-right: $global-spacing-2;
			}
		}
	}
}