.accordion {
    font-size: 1rem;

    &>:last-child {
        border-bottom: 1px solid $gray-20;
    }
}

.accordion-trigger {
    // border: 1px solid #fff;
    text-align: left; // transition: 0.4s;
    display: block;
    position: relative;
    // padding-left: $global-spacing-2; 
    // width: 100%;
    padding-right: $global-spacing-4;
    // margin-bottom: $global-spacing-1;

    &:before {
        content: '\002b';
        /* Unicode character for "plus" sign (+) */
        // font-size: 0.8em;
        // color: #777;
        float: left;
        margin-top: $global-spacing-1;
        margin-left: 0.5em;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        background-color: $gray-20;
        height: 1.5em;
        width: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    &:hover,
    &:focus {
        background: $gray-5;
        cursor: pointer;
    }

    &.active {
        font-weight: $font-weight-bold;
        background-color: $gray-10;
    }

    // &:focus,
    // &:hover {
    //     background-color: #137cbd;
    //     color: #fff;
    //     z-index: 1;
    // }
}



.accordion-trigger[aria-expanded="true"] {
    &:before {
        content: "\2212";
        /* Unicode character for "minus" sign (-) */
        // color: #fff;
    }
}

.accordion-panel {
    // margin: 0 $global-spacing-4;
    // padding: 0 $global-spacing-3;
    // background-color: $gray-10;
    // max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
    background-color: $gray-10;

    > * {
        font-style: italic;

        &:first-child {
            margin-top: 0;
        }

        // &:last-child {
        //     margin-bottom: 0;
        // }
        
    }
}