//*****************************
// Component: Button and Links
//*****************************

// Base styles
// --------------------------------------------------
.btn {
    white-space: normal;
    transition: $global-transition;
    border-radius: $radius-pill;
    text-decoration: none;
    margin-right: $global-spacing-2;

    &:last-child {
        margin-right: 0;
    }
    
    &:hover,
    &:focus {
        box-shadow: 0 7px 14px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .08);
        transform: translateY(-1px);
    }
}

// Call-to-action buttons
main a {
    &.c-btn-cta--positive {
        @include button-ghost($brand-primary, $white);
    }

    &.c-btn-cta--negative {
        @include button-ghost($white, $brand-primary);
    }
    &.c-btn-cta--link {
        text-decoration: underline;
    }
}