.more-link {
	a {
		text-transform: uppercase;
		font-size: #{ms(-2)}rem;
		@include button-ghost($brand-primary, $white);
		white-space: normal;
    transition: $global-transition;
    border-radius: $radius-pill;
    text-decoration: none;
    margin-right: $global-spacing-2;
    padding: 0.5em 1em;

    &:hover,
	  &:focus {
	  	&:after {
	    	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff'%3E%3Cpath d='M.5 8.004H13V2.025a.5.5 0 0 1 .853-.355l10.009 9.975a.502.502 0 0 1 .001.708L13.854 22.357a.5.5 0 0 1-.854-.353v-6H.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z'/%3E%3C/svg%3E");
	  	}
	  }

		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%230064d0'%3E%3Cpath d='M.5 8.004H13V2.025a.5.5 0 0 1 .853-.355l10.009 9.975a.502.502 0 0 1 .001.708L13.854 22.357a.5.5 0 0 1-.854-.353v-6H.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z'/%3E%3C/svg%3E");
			display: inline-block;
	    width: 1em;
	    height: 0.9em;
	    background-repeat: no-repeat;
	    background-size: 1em 1em;
	    margin-left: 0.3em;


	    // border: 1px solid;
	    // border-radius: 1em;
	    // padding: 0.8em 1em;
		}
	}
}


.more--plain-reverse{
	.more-link {
			a {
			text-transform: uppercase;
			font-size: #{ms(-2)}rem;
			border: 0;
			white-space: normal;
	    transition: $global-transition;
	    // border-radius: $radius-pill;
	    text-decoration: none;
	    margin-right: $global-spacing-2;
	    padding: 0.5em 1em;
	    color: $white;

	   //  &:hover,
		  // &:focus {
		  // 	&:after {
		  //   	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff'%3E%3Cpath d='M.5 8.004H13V2.025a.5.5 0 0 1 .853-.355l10.009 9.975a.502.502 0 0 1 .001.708L13.854 22.357a.5.5 0 0 1-.854-.353v-6H.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z'/%3E%3C/svg%3E");
		  // 	}
		  // }

			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23fff'%3E%3Cpath d='M.5 8.004H13V2.025a.5.5 0 0 1 .853-.355l10.009 9.975a.502.502 0 0 1 .001.708L13.854 22.357a.5.5 0 0 1-.854-.353v-6H.5a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z'/%3E%3C/svg%3E");
				display: inline-block;
		    width: 1em;
		    height: 0.9em;
		    background-repeat: no-repeat;
		    background-size: 1em 1em;
		    margin-left: 0.3em;


		    // border: 1px solid;
		    // border-radius: 1em;
		    // padding: 0.8em 1em;
			}
		}
	}
}