

.search-form {
	.container-inline {
		&.form-wrapper {
			display: flex;
	    align-items: flex-end;
		}

		.form-group {
			margin-top: 0;
			margin-bottom: 0;
		}

		.form-text {
			border-top-right-radius: 0;
	    border-bottom-right-radius: 0;
		}

		input[type="submit"] {
			border-radius: $radius-roundrect;
			border-top-left-radius: 0;
	    border-bottom-left-radius: 0;
		}

	}

}

.search-results {
	margin-bottom: $global-spacing-6;
}