//
// Pager pagination
// --------------------------------------------------


.pagination.pager {
	padding-left: 0;
	margin: $line-height-computed 0;
	list-style: none;
	text-align: left;
	@include clearfix;

	li {
		display: inline-block;
		padding: 0;
		margin: 0;

		> a,
		> span {
			position: relative;
			display: block;
			padding: 0.2rem 0.55rem;
			margin-left: -1px;
			line-height: 1.25;
			color: $brand-primary;
			background-color: $white;
			border: 1px solid $gray-20;
			text-decoration: none;
			font-size: .875rem;
			// 		display: inline-block;
			// 		padding: 5px 14px;
			// 		background-color: $pager-bg;
			// 		border: 1px solid $pager-border;
			// 		border-radius: $pager-border-radius;
			//
			&:hover,
			&:focus {
				background-color: $gray-10;
			}

		}

		&.active {
			span {
				color: $white;
		    background-color: $brand-primary;
		    border-color: $brand-primary;
			}
		}




	}

	// .next {
		// 	> a,
		// 	> span {
			// 		float: right;
			//		}

		//	}

	// .previous {
		// 	> a,
		// 	> span {
			// 		float: left;
			//		}

		//	}

	// .disabled {
		// 	> a,
		// 	> a:hover,
		// 	> a:focus,
		// 	> span {
			// 		color: $pager-disabled-color;
			// 		background-color: $pager-bg;
			// 		cursor: $cursor-disabled;
			//		}

		//	}

}
