// Styles for Tabs, Messages, ..etc
// -----------------------------------------------------------------------------

//Button

main a {

      text-decoration: underline;
      -webkit-text-decoration-skip: ink;
      text-decoration-skip: ink;

}

.btn {
    text-decoration: none;
    -webkit-text-decoration-skip: none;
      text-decoration-skip: none;
}

.btn,
.media-widget>a {
	text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    border: 0;
    &:not(input){
        font-size: 1rem;
        padding: 0.9rem 2.1rem;
    }
    // padding-top: 0.6rem;
    // padding-bottom: 0.6rem;

    // text-shadow: unset;
    // background-image: none;
    // background-repeat: repeat-x;
    // background-position: bottom 0.05em center;
    // background-size: auto;
}

.more-link {
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    @include fluid-type( "font-size", $screen-sm, $large, 0.75rem, 0.8rem );
}

// List
main {
    ul {
        list-style: outside disc;
        
        > li {
            margin-left: 1em;
        }
    }
}

.multicolumn {
    @media screen and (min-width: 700px){
        column-count: 2;
        column-width: 13em;
        column-gap: 2.5em;
    }
}