// Typography
// -----------------------------------------------------------------------------



// Variables


html {
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  	@include fluid-type( "font-size", $small, $large, 12px, 16px );

}

body {
	font-family: $font-family-serif;
	font-size: 1rem;
}

main {
	line-height: $baseline;
	//padding: $baseline 0 0;
}

p, 
main ul{	
	line-height: $baseline;
	margin-bottom: $baseline;
	
	&:empty {
	    display: none;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $headings-font-family;
  	padding-top: $baseline;
  	margin-top: 0;
	margin-bottom: 1.5rem;
	font-weight: $headings-font-weight;
	line-height: 1.25;
	color: $headings-color;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}

small {
	font-size: $small-font-size;
}

// Inline Links
$text-shadow: rgba(0,0,0,0);



mark,
.mark {
  background-color: $mark-bg;
}