//*****************************
// Links mixin
//*****************************

@mixin link ($link, $text-deco: underline){

    @if ($text-deco == "underline") {
        text-decoration: underline;
        text-decoration-skip: ink;
    } @else {
        text-decoration: none;
        text-decoration-skip: none;
    }

	outline: none;
	padding: 2px 1px 0;
	transition: $global-transition;

	&:link {
        color: $link;
    }

    &:visited {
        //color: adjust-color($link, $hue: -20deg, $saturation: 100, $lightness: -10);
        color: darken($link, 10%);
    }

    &:hover,
    &:focus {
        color: adjust-color($link, $hue: 20deg, $saturation: -30%, $lightness: 0);
    	background-color: rgba($link, 0.1);
    }

    &:active {
    	color: adjust-color($link, $hue: 20deg, $saturation: -30%, $lightness: 0);
        background-color: rgba($link, 0.2);
    }
}


// *****************************
// Link button
// *****************************

// Call to action buttons with <a> tag
@mixin button-ghost($color, $hover) {
    border: 2px solid $color;
    color: $color;
    background-color: transparent;

    &:link {
        color: $color;
    }


    &:visited {
        //color: adjust-color($link, $hue: -20deg, $saturation: 100, $lightness: -10);
        color: darken($color, 10%);
    }

    &:hover,
    &:focus {
        background: $color;
        color: $hover;
    }

    &.is-active {
        background: adjust-color($color, $hue: 20deg, $saturation: -30%, $lightness: 0);;
        border-color: adjust-color($color, $hue: 20deg, $saturation: -30%, $lightness: 0);;
        color: $hover;
    }
}


// Normal button styling
@mixin button($background, $color) {
    color: $color;
    background-color: $background;
    border: 1px solid transparent;

    &:link {
        background-color: $background;
    }


    &:visited {
        //color: adjust-color($link, $hue: -20deg, $saturation: 100, $lightness: -10);
        background-color: darken($background, 10%);
    }

    &:hover,
    &:focus {
        background-color: darken($background, 5%);
        border-color: $color;
    }

    &.is-active {
        background: adjust-color($color, $hue: 20deg, $saturation: -30%, $lightness: 0);
    }
}
