//*****************************
// Tools: Clearfix
//*****************************

// Mixin to drop micro clearfix into a selector. Further reading:
// http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
//
// .simple-usage {
//   @include clearfix();
// }
//
// .detailed-usage {
//   @include clearfix(important);
// }

@mixin clearfix($important: false) {

    @if ($important == "important") {
        $important: unquote("!important");
    } @else {
        $important: null;
    }

    &:after {
        content: "" $important;
        display: table $important;
        clear: both $important;
    }

}

@mixin nds-clearfix($important: false) {

    @if ($important == "important") {
        $important: unquote("!important");
    } @else {
        $important: null;
    }

    &:after {
        content: "" $important;
        display: table $important;
        clear: both $important;
    }

}