<!-- Column -->
<div class="h6 text-uppercase" role="heading">Who we are</div>
<ul class="list-unstyled">
    <li><a href="#">Answers4Families Projects</a></li>
    <li><a href="/privacy-policy">Privacy policy</a></li>
    <li><a href="/terms-and-conditions">Terms &amp; conditions</a></li>
    <li><a href="/form/contact-us">Contact us</a></li>
</ul>

<!-- Column -->
<div class="h6 text-uppercase" role="heading">How can we help</div>
<ul class="list-unstyled">
    <li><a href="#">Find answers A-Z</a></li>
    <li><a href="#">Talk to others</a></li>
    <li><a href="#">Find services</a></li>
</ul>

<!-- Column -->
<div class="h6 text-uppercase" role="heading">Visit our other sites</div>
<ul class="list-unstyled">
    <li><a href="//nrrs.ne.gov">Nebraska Resource and Referral System</a></li>
    <li><a href="/classroom">Answers4Families Classroom</a></li>
</ul>

<!-- Column -->
<a href="/" class="u-display-block">
    <svg class="c-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 244.58 25.64"><title>logo_a4f_gray</title><polygon points="125.57 13.92 126.74 8.4 121.19 13.92 125.57 13.92"/><path d="M125.8,0a12.82,12.82,0,1,0,12.77,12.82A12.8,12.8,0,0,0,125.8,0Zm6.8,18.75H130l-.88,3.82h-5.57l.79-3.84h-8.92l1.08-5.28L127.61,3h5.6L131,13.92h2.48Z" transform="translate(0 0)"/><path d="M13.78,17.65H6.28L4,21.83H0L10.71,2.92H15l3.07,18.93H14.39ZM13.3,14.5,12.2,6.92,7.63,14.5ZM23.39,8.12h3.5l-.36,1.8A9.66,9.66,0,0,1,29,8.3a6.11,6.11,0,0,1,2.4-.51,3.62,3.62,0,0,1,2.67,1,3.46,3.46,0,0,1,1,2.57,16.27,16.27,0,0,1-.43,2.74L33,21.86H29.29l1.63-7.79a17.11,17.11,0,0,0,.36-2.15,1.48,1.48,0,0,0-.42-1.12,1.61,1.61,0,0,0-1.17-.41,3.28,3.28,0,0,0-1.81.68,4.76,4.76,0,0,0-1.56,1.85,15.28,15.28,0,0,0-.93,3.28l-1.18,5.63h-3.7ZM36.13,18l3.59-.57A3.47,3.47,0,0,0,40.91,19a3.46,3.46,0,0,0,1.94.47,3.31,3.31,0,0,0,2-.57,1.14,1.14,0,0,0,.53-.94,1,1,0,0,0-.27-.67,4.7,4.7,0,0,0-1.54-.7,16.64,16.64,0,0,1-4.18-1.75,3.22,3.22,0,0,1-1.25-2.63,3.77,3.77,0,0,1,1.25-2.81,7,7,0,0,1,5-1.64,6.87,6.87,0,0,1,4,1,4.22,4.22,0,0,1,1.72,2.62L46.69,12a2.11,2.11,0,0,0-.88-1.12,3.75,3.75,0,0,0-2-.5,2.81,2.81,0,0,0-1.67.39,1.11,1.11,0,0,0-.51.89,1,1,0,0,0,.52.85,12.13,12.13,0,0,0,2.08.72,11,11,0,0,1,3.63,1.55,3.25,3.25,0,0,1,1.29,2.58,4.36,4.36,0,0,1-1.64,3.38,6.8,6.8,0,0,1-4.62,1.43,8.18,8.18,0,0,1-4.59-1.09A5.41,5.41,0,0,1,36.13,18Zm29.52,3.84H62.17L61.5,13.1l-4.18,8.73H53.88L52.16,8.12h3.29l1,9.19,4.27-9.19h3.37l.46,9.19L68.8,8.12h3.72Zm19.59-5.71h-9.3v.38a3.11,3.11,0,0,0,.78,2.21,2.5,2.5,0,0,0,1.91.84,3.17,3.17,0,0,0,2.88-1.91l3.32.56a7,7,0,0,1-2.59,3,6.78,6.78,0,0,1-3.63,1,6,6,0,0,1-4.49-1.75,6.29,6.29,0,0,1-1.73-4.64,8.43,8.43,0,0,1,1.56-5,7,7,0,0,1,6.08-3,5.27,5.27,0,0,1,4,1.56,6.06,6.06,0,0,1,1.48,4.36A10.35,10.35,0,0,1,85.24,16.12Zm-3.13-2.26V13.5a3.33,3.33,0,0,0-.68-2.29,2.34,2.34,0,0,0-1.83-.76,2.91,2.91,0,0,0-2.06.87,4.61,4.61,0,0,0-1.23,2.56Zm7.15-5.74h3.46l-.56,2.66q1.94-3,4.2-3a4.31,4.31,0,0,1,1.72.4l-1.42,3A3.15,3.15,0,0,0,95.59,11a3.3,3.3,0,0,0-1.94.72,4.85,4.85,0,0,0-1.54,1.93A19.2,19.2,0,0,0,91,17.5l-.9,4.3H86.39ZM96.39,18l3.59-.57A3.47,3.47,0,0,0,101.17,19a3.46,3.46,0,0,0,1.94.47,3.31,3.31,0,0,0,2-.57,1.14,1.14,0,0,0,.53-.94,1,1,0,0,0-.27-.67,4.7,4.7,0,0,0-1.54-.7,16.64,16.64,0,0,1-4.16-1.76,3.22,3.22,0,0,1-1.25-2.63,3.77,3.77,0,0,1,1.21-2.8,7,7,0,0,1,5-1.64,6.87,6.87,0,0,1,4,1,4.22,4.22,0,0,1,1.76,2.59L107,12a2.12,2.12,0,0,0-.88-1.12,3.75,3.75,0,0,0-2-.5,2.81,2.81,0,0,0-1.67.39,1.11,1.11,0,0,0-.51.89,1,1,0,0,0,.52.85,12.12,12.12,0,0,0,2.08.72,11,11,0,0,1,3.63,1.55,3.25,3.25,0,0,1,1.29,2.58,4.36,4.36,0,0,1-1.64,3.38,6.8,6.8,0,0,1-4.62,1.43A8.18,8.18,0,0,1,98.58,21,5.41,5.41,0,0,1,96.39,18ZM140,21.83,144,2.9h13.25l-.67,3.16h-9.35l-1,4.55h9.17l-.66,3.16h-9.17l-1.68,8.06ZM161.4,12l-3.62-.31a5.44,5.44,0,0,1,2.16-2.87,7.23,7.23,0,0,1,4.09-1,6,6,0,0,1,3.91,1.07,3.28,3.28,0,0,1,1.26,2.61,8.5,8.5,0,0,1-.11,1.32q-.11.7-.77,3.67a18.83,18.83,0,0,0-.53,3.44,7.08,7.08,0,0,0,.31,2h-3.6a7.1,7.1,0,0,1-.27-1.55,5.68,5.68,0,0,1-1.84,1.35,5.08,5.08,0,0,1-2.13.48,3.8,3.8,0,0,1-2.87-1.11,3.9,3.9,0,0,1-1.11-2.87,4.15,4.15,0,0,1,1.22-3.14q1.22-1.17,4.36-1.42a17.32,17.32,0,0,0,3.54-.53,4.58,4.58,0,0,0,.23-1.24,1.25,1.25,0,0,0-.48-1,2.17,2.17,0,0,0-1.42-.4,2.67,2.67,0,0,0-1.57.41,2,2,0,0,0-.77,1.15Zm3.53,3.43a7.65,7.65,0,0,1-.89.17,8.47,8.47,0,0,0-3.64,1,1.5,1.5,0,0,0-.61,1.25,1.45,1.45,0,0,0,.46,1.09,1.7,1.7,0,0,0,1.23.45,3.24,3.24,0,0,0,1.58-.41,2.78,2.78,0,0,0,1.11-1,7.15,7.15,0,0,0,.65-2Zm8.71-7.31h3.49l-.35,1.67a6.12,6.12,0,0,1,4.29-2,3.85,3.85,0,0,1,2.39.65,2.89,2.89,0,0,1,1.07,1.78,5.52,5.52,0,0,1,2-1.73,5.88,5.88,0,0,1,2.76-.7,3.54,3.54,0,0,1,2.56.88,3.07,3.07,0,0,1,.92,2.32,14.23,14.23,0,0,1-.36,2.45l-1.76,8.38h-3.71l1.76-8.38q.32-1.58.32-1.78a1.19,1.19,0,0,0-.34-.9,1.43,1.43,0,0,0-1-.33,3.08,3.08,0,0,0-2.46,1.49,9.88,9.88,0,0,0-1.34,3.71l-1.3,6.22h-3.71l1.73-8.29a12.2,12.2,0,0,0,.3-1.86,1.17,1.17,0,0,0-.37-.89,1.41,1.41,0,0,0-1-.35,2.56,2.56,0,0,0-1.25.36,3.68,3.68,0,0,0-1.13,1,5.86,5.86,0,0,0-.83,1.63q-.15.46-.5,2.1l-1.32,6.3h-3.71Zm23.63,0H201l-2.9,13.71h-3.71Zm1.13-5.2h3.71l-.71,3.34h-3.71Zm3.32,18.91,4-18.93h3.68l-4,18.93ZM211.95,8.12h3.71l-2.87,13.71h-3.7ZM213,2.92h3.71L216,6.28h-3.66Zm16.75,13.2h-9.3v.38a3.11,3.11,0,0,0,.78,2.21,2.5,2.5,0,0,0,1.9.84A3.17,3.17,0,0,0,226,17.6l3.32.56a7,7,0,0,1-2.59,3,6.78,6.78,0,0,1-3.64,1,6,6,0,0,1-4.49-1.75,6.3,6.3,0,0,1-1.73-4.63,8.42,8.42,0,0,1,1.56-5,7,7,0,0,1,6.08-3,5.27,5.27,0,0,1,4,1.56A6.06,6.06,0,0,1,230,13.7a10.35,10.35,0,0,1-.26,2.42Zm-3.13-2.26V13.5a3.33,3.33,0,0,0-.62-2.3,2.34,2.34,0,0,0-1.83-.76,2.91,2.91,0,0,0-2.06.87,4.61,4.61,0,0,0-1.23,2.56Zm4,4.13,3.59-.57A3.47,3.47,0,0,0,235.4,19a3.46,3.46,0,0,0,1.94.47,3.31,3.31,0,0,0,2-.57,1.14,1.14,0,0,0,.53-.94,1,1,0,0,0-.27-.67,4.7,4.7,0,0,0-1.54-.7,16.64,16.64,0,0,1-4.16-1.76,3.22,3.22,0,0,1-1.25-2.63,3.77,3.77,0,0,1,1.21-2.8,7,7,0,0,1,5-1.64,6.87,6.87,0,0,1,4,1,4.22,4.22,0,0,1,1.72,2.62l-3.42.59a2.12,2.12,0,0,0-.88-1.12,3.75,3.75,0,0,0-2-.5,2.81,2.81,0,0,0-1.67.39,1.11,1.11,0,0,0-.51.89,1,1,0,0,0,.52.85,12.12,12.12,0,0,0,2.08.72,11,11,0,0,1,3.65,1.52,3.25,3.25,0,0,1,1.29,2.58A4.36,4.36,0,0,1,242,20.71a6.8,6.8,0,0,1-4.62,1.43A8.18,8.18,0,0,1,232.79,21,5.41,5.41,0,0,1,230.62,18Z" transform="translate(0 0)"/></svg>
</a>
<address>
    206 S 13th St Suite 1000
    <br> Lincoln, NE 68588-0227
</address>
<div class="footer__social u-mb-2">
    <a href="//www.facebook.com/Answers4Families/" class="social">
        <svg class="c-icon c-icon--big" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Answers4Families on Facebook</title>
            <path d="M18.8 7.5h-4.3V5.6c0-0.9 0.6-1.1 1-1.1s3 0 3 0V0.5l-4.3 0c-3.9 0-4.7 2.9-4.7 4.8v2.1h-3v4h3c0 5.2 0 12 0 12h5c0 0 0-6.9 0-12h3.9L18.8 7.5z" />
        </svg>
    </a>
    <a href="#" class="social">
        <svg class="c-icon c-icon--big" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <title>Answers4Families on Twitter</title>
            <path d="M23.4 4.8c-0.8 0.4-1.5 0.4-2.2 0 0.9-0.6 1-1 1.3-2 -0.9 0.5-1.9 0.9-2.9 1.1 -0.8-0.9-2-1.4-3.3-1.4 -2.5 0-4.5 2-4.5 4.5 0 0.4 0 0.7 0.1 1 -3.8-0.2-7.1-2-9.4-4.7C2.2 4 1.9 4.8 1.9 5.6c0 1.6 0.8 3 2 3.8 -0.7 0-1.4-0.2-2.1-0.6 0 0 0 0 0 0.1 0 2.2 1.6 4 3.6 4.5 -0.7 0.2-1.4 0.2-2.1 0.1 0.6 1.8 2.3 3.1 4.2 3.2 -1.9 1.5-4.4 2.2-6.7 1.9 2 1.3 4.4 2 7 2 8.4 0 12.9-6.9 12.9-12.9 0-0.2 0-0.4 0-0.6C21.8 6.3 22.8 5.7 23.4 4.8z" />
        </svg>
    </a>
</div>