<div class="o-full-width">
  <div class="o-wrapper u-pv-6">
    <h2 class="text-center text-capitalize">Visit our other sites</h2>
    <div class="u-pt-3 o-layout o-layout--2 u-flex-row u-flex-wrap o-layout--guttered">
      <a href="https://nrrs.ne.gov/" class="o-layout__item u-mb-3 u-ph-3 u-pt-4 u-txt-decor-none u-ba u-b--gray-10 u-br-roundrect shadow u-color-text">
        <h3 class="sr-only">Nebraska Resource and Referral System</h3>
        <img src="/sites/default/files/image/logo-nrrs.png" alt="Nebraska Resource and Referral System logo" class="u-mb-2 img-height--small">
        <p>List of services and programs in Nebraska.</p>
      </a>
      <a href="https://www.answers4families.org/classroom/" class="o-layout__item u-mb-3 u-ph-3 u-pt-4 u-txt-decor-none u-ba u-b--gray-10 u-br-roundrect shadow u-color-text">
        <h3 class="sr-only">Answers4families Classroom</h3>
        <img src="/sites/default/files/image/logo-a4f-classroom.png" alt="Answers4families Classroom logo" class="u-mb-2 img-height--small">
        <p>Online learning covering a variety of topics.</p>
      </a>
    </div>
  </div>
</div>