<p>The Answers4Families project safeguards the the privacy of all visitors to our websites and applications. This notice describes our privacy policy as it relates to the collection, protection, and disclosure of information resulting from the use of Answers4Families project websites owned and operated by the <a href="//ccfl.unl.edu/">University of Nebraska – Lincoln Center on Children, Families, and the Law</a>, including <a href="http://www.answers4families.org">Answers4Families.org</a>, <a href="https://nrrs.ne.gov">NRRS.ne.gov</a> and <a href="http://ifspweb.org">IFSPWeb.org</a>.


<h2>Information you provide voluntarily</h2>
While you may use some of the functionality of Answers4Families without registration, many of the specific services on our website require registration (using <a href="https://accounts.answers4families.org/about.php">Account Services</a>). If you use our website without registering, the only information we collect will be non-personal information through the use of Cookies. If you choose to register with our website for certain services, we require you to submit personally identifiable information.</p>

<h2>Non-Personal Information We Collect About You</h2>
<p>Even if you do not register with Answers4Families, we collect non-personal information about your use of our website through the use of Cookies. Every computer that accesses our website is assigned a different Cookie by Answers4Families. The information collected by Cookies allows us to statistically monitor how many people are using our website. Cookies are also used to facilitate a user's log-in, as navigation aides and as session timers.</p>

<h2>Personally Identifiable Information We Collect About You - Account Services</h2>
<p>We collect personally identifiable information that you provide to us when you become a registered user of Answers4Families by using <a href="https://accounts.answers4families.org/about.php">Account Services</a>. We use the personally identifiable information that you provide to respond to your questions, provide you the specific services you select, send you emails about Website maintenance and updates, and inform you of significant changes to this Privacy Policy.</p>

<h2>Newsletters</h2>
<p>In order to subscribe to Answers4Families newsletters via email, we need your contact information, like name and email address. You can unsubscribe from the newsletters by simply clicking on the "unsubscribe" link located on each of our email newsletters. An email to our automated unsubscribe service will be created on your computer. Click the "send" button. You will then be unsubscribed from that newsletter within two to three business days. If you experience difficulties with our automated unsubscribe service, please <a href="mailto:clewis4@unl.edu">contact us</a>. Answers4Families will manually unsubscribe you from that newsletter in two to three business days.</p>

<h2>Discussion Groups and other Public Forums</h2>
<p>As a service to our users, Answers4Families features Discussion Groups, Ask An Expert, Ask Rx and other public forums where users with similar interests can share information and support one another or where users can post questions for experts to answer. We also offer online discussions moderated by Answers4Families staff. Any information shared that you reveal in a Discussion Group and other public forums is by design open to the public and is not a private, secure service. You should think carefully before disclosing any personally identifiable information in any public forum. Users do not have the ability to modify or erase their posts.</p>

<h2>Children</h2>
<p>We are committed to protecting the privacy of children. Neither Answers4Families nor any of its services are designed or intended to attract children under the age of 13. We do not collect personally identifiable information from any person we actually know is under the age of 13. For more internet safety information, please visit the Nebraska Attorney General's <a href="http://safekids.ne.gov">"Safe Kids" website</a>.</p>

<h2>Research Surveys</h2>
<p>From time to time the Answers4Families conducts online research surveys in order to gather feedback about our site and opinions on important issues, through email invitations, links to surveys and online focus groups. When participating in a survey, we may ask you to submit personally identifiable information. This personally identifiable information is used for research purposes, and is not used for sales solicitations.</p>

<h2>Disclosure of Your Information</h2>
<p>Except as described in this Privacy Policy or as specifically agreed to by you, Answers4Families will not disclose any personally identifiable information it gathers from you on our website. We may only release personally information to third parties: (1) to comply with valid legal requirements such as a law, regulation, search warrant, subpoena or court order; or (2) in special cases, such as in response to a physical threat to you or others, to protect property or defend or assert legal rights. In the event that we are legally compelled to disclose your personally identifiable information to a third party, we will attempt to notify you unless doing so would violate the law or court order. Answers4Families does not disclose your personal information to Third Party websites. Answers4Families does not endorse and is not responsible for the privacy practices of these sites. If you choose to link to one of these Third Party websites, you should review the privacy policy posted on this other website to understand how that Third Party website collects and uses your personally identifiable information.</p>

<h2>Links to Other Sites, or Content Embedded into our Site(s) from External Sources</h2>
<p>The Answers4Families project websites may include links to other websites and/or apps, or may display content from external services or providers. Once you enter another website, be aware that Answers4Families is not responsible for the privacy practices of these external third parties. For your own protection, we encourage you to look for and review the privacy statements of any sitelinked to from our website.</p>

<h2>To report a violation of this policy</h2>
<p>If you have a complaint or problem, please <a href="/form/contact-us"> contact us </a>.</p>
