<p class="lead">Please read these terms and conditions of use carefully before using this site. By using this site, you agree to these Terms and Conditions. Answers4Families may revise and update these Terms and Conditions at any time. Your continued usage of the Answers4Families website will mean you accept those changes.</p>

<p>The contents of the Answers4Families Site, such as text, graphics, images, information and other material contained on the Answers4Families Site (Content) are for informational purposes only. The Content is not intended to be a substitute for professional medical/psychological advice, diagnosis, or treatment, nor a substitute for legal or any other type of professional advice. Always seek the advice of a skilled practitioner with any questions you may have regarding a medical condition or legal issue. Never disregard professional advice because of something you have read on the Answers4Families website. The authors of this website are not medical professionals, unless otherwise stated.</p>

<p>Answers4Families does not recommend or endorse any specific tests, physicians, products, procedures, legal advice, opinions, or other information that may be mentioned on the website. Our Website does not host any form of advertisement. Reliance on any information provided by Answers4Families, Answers4Families employees, others appearing on the website at the invitation of Answers4Families, or other visitors to the website is solely at your own risk.</p>

<h2>Use of Content</h2>
<p>Answers4Families authorizes you to view or download a single copy of the material on the Answers4Families Site solely for your personal, noncommercial use if you include the following copyright notice: "Copyright © 1994 - 2018, Answers4Families.org. All rights reserved" and other copyright and proprietary rights notices that are contained in the Content. The use of the Answers4Families website and the Content is at your own risk.</p>

<h2>Answers4Families Public Service Areas</h2>
<p>If you use an Answers4Families Public Service Area, such as a Email Discussion Group, Ask An Expert or Ask Rx, you are solely responsible for your own communications, the consequences of posting those communications, and your reliance on any communications found in the Public Service Areas. Any electronic file attachments posted the Public Service Areas are scanned for viruses by Answers4Families staff members before being posted. Public Services Areas are not otherwise moderated on a regular basis.</p>

<p>Answers4Families and its licensors are not responsible for the consequences of any communications in the Public Areas as these areas are not moderated. In cases where you feel threatened or believe someone else is in danger, you should contact your local law enforcement agency immediately. <span class="text-danger">If you think you may have a medical emergency, call your doctor or 911 immediately. If you suspect child or elder abuse, call the Nebraska Abuse/Neglect Hotline at 1-800-652-1999.</span></p>

<p>In consideration of being allowed to use the Public Areas, you agree that the following actions shall constitute a material breach of these Terms and Conditions:</p>

<ul>
	<li>Users must behave at all times with respect and honesty;</li>
	<li>Using a Public Area for any purpose in violation of local, state, national, or international laws;</li>
	<li>Posting material that infringes on the intellectual property rights of others or on the privacy or publicity rights of others;</li>
	<li>Posting material that is unlawful, obscene, defamatory, threatening, harassing, abusive, slanderous, hateful, or embarrassing to any other person or entity as determined by Answers4Families in its sole discretion;</li>
	<li>Posting advertisements or solicitations of business;</li>
	<li>After receiving a warning, continuing to disrupt the normal flow of dialogue, or posting comments that are not related to the topic being discussed (unless it is clear the discussion is free-form);</li>
	<li>Posting chain letters or pyramid schemes;</li>
	<li>Impersonating another person;</li>
	<li>Distributing viruses or other harmful computer code;</li>
	<li>Harvesting or otherwise collecting information about others, including email addresses, without their identification for posting or viewing comments; consent;</li>
	<li>Posting the same note more than once or "spamming"; or</li>
	<li>Engaging in any other conduct that restricts or inhibits any other person from using or enjoying the Public Area or the Site, or which, in the judgment of Answers4Families, exposes Answers4Families or any of its customers or suppliers to any liability or detriment of any type.</li>
</ul>

<p>Answers4Families reserves the right (but is not obligated) to do any or all of the following without warning or notification:</p>

<ul>
	<li>Investigate an allegation that a communication does not conform to the terms of this section and determine in its sole discretion to remove or request the removal of the communications.</li>
	<li>Remove communications which are abusive, illegal, or disruptive, or that otherwise fail to conform with these Terms and Conditions.</li>
	<li>Terminate a user's access to any or all Public Service Areas and/or the Answers4Families Site upon any breach of these Terms and Conditions.</li>
	<li>Monitor, edit, or disclose any communication in the Public Areas.</li>
	<li>Edit or delete any communications posted on the Answers4Families Site, regardless of whether such communications violate these standards.</li>
</ul>

<p>Answers4Families has no liability or responsibility to users of the Answers4Families Site or any other person or entity for performance or nonperformance of the aforementioned activities</p>

<h2>User Submissions</h2>
<p>The personal information you submit to Answers4Families is governed by the Answers4Families Privacy Policy. You agree that you will not upload or transmit any communications or content of any type to Answers4Families’s Public Discussion Groups and public forums that infringe or violate any rights of any party. By submitting communications or content to the Discussion Groups and/or public forums, you agree that such submission is non-confidential for all purposes. Users do not have the ability to modify or erase their posts. Users posting information and comments to the Answers4Families website must provide (when possible) reference to health/medical information when it is not personal experience (anything the person has undergone himself/herself). Users must only post information which is true and correct to their knowledge.</p>

<h2>Passwords</h2>
<p>You are responsible for taking all reasonable steps to ensure that no unauthorized person shall have access to your Answers4Families passwords or account information. You grant the right to transmit, monitor, retrieve, store, and use your information in connection with the operation of the website.</p>

<h2>Links to Other Sites</h2>
<p>Answers4Families provides links to third-party web sites. Answers4Families does not recommend and does not endorse the content on any third-party websites. Answers4Families is not responsible for the content of linked third-party sites, sites framed within the Answers4Families website, third-party sites provided as search results, or third-party advertisements, and does not make any representations regarding their content or accuracy. Your use of third-party websites is at your own risk and subject to the terms and conditions of use for such sites. Answers4Families does not endorse any product, service, or treatment mentioned on the Answers4Families website.</p>

<h2>Takedown Procedures; and Copyright Infringement</h2>
<p>If you believe any materials accessible on or from the webite infringe your copyright, you may request removal of those materials from this web site by <a href="/form/contact-us">contacting us</a>.</p>

<p>These Terms and Conditions and the Answers4Families Privacy Policy constitute the entire agreement between you and Answers4Families with respect to the use of the Answers4Families website, and Content. Thank you for visiting Answers4Families.</p>