//*****************************
// Generic: Selection
//*****************************

::selection {
  color: $gray;
  background-color: #ff0;
}

::-moz-selection {
  color: $gray;
  background-color: #ff0;
}